<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    {% load static %}

    <title></title>
    <link rel="icon" type="image/x-icon" href= "{& static 'BlogNba/assets/NBA_icon' %}" />
    <link href="{% static 'BlogNba/css_b/404.css' %}" type="text/css" rel="stylesheet" />
</head>
<body class="error-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-6" id="col1">
                <!-- <img src="../../static/BlogNba/assets/img/error404.png" class="img-responsive center-block" /> -->
                <img src="../../static/BlogNba/assets/img/nba2.png" class="img-responsive center-block" />
            </div>
            <div class="col-xs-6" id="col2">
                <h1>404</h1>
                <h2>Aun estamos trabajando en ello...</h2>
                <div id="boton">
                    <a href="{% url 'post_list' %}">
                        <span class="text">Ir a la Pagina Principal</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </div>
                <!-- <div id="logo">
                    <img src="../../static/BlogNba/assets/img/nba4.png" />
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>